@* Definindo  classe de modelo de dados da página*@
@model UsuariosWeb.Presentation.Models.UsuariosCadastroModel

@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <h2>Cadastro de Conta de Usuário</h2>
        <p>Preencha os campos abaixo para criar um usuário.</p>
        <hr />

        @* Criando o formulário *@
        @using (Html.BeginForm())
        {
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Nome do usuário:</label>
                    @Html.TextBoxFor(Model => Model.Nome, new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Email)
                    </span>
                </div>

                <div class="col-md-6">
                    <label>Email de acesso:</label>
                    @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Email)
                    </span>
                </div>
            </div>



            <div class="row mb-3">
                <div class="col-md-3">
                    <label>Senha de Acesso:</label>
                    @Html.PasswordFor(Model => Model.Senha, new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.Senha)
                    </span>
                </div>

                <div class="col-md-3">
                    <label>Confirme sua senha:</label>
                    @Html.PasswordFor(Model => Model.SenhaConfirmacao, new { @class = "form-control" })
                    <span class="text-danger">
                        @Html.ValidationMessageFor(model => model.SenhaConfirmacao)
                    </span>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-12">
                    <input type="submit" value="Realizar Cadastro" class="btn btn-success" />
                </div>
            </div>
        }

    </div>
</div>



